In [50]:
import numpy as np
import pandas as pd
import math

In [2]:
train_df=pd.read_csv('train.csv')

In [3]:
test_df=pd.read_csv('test.csv')

In [4]:
train_df

        x          y
0    24.0  21.549452
1    50.0  47.464463
2    15.0  17.218656
3    38.0  36.586398
4    87.0  87.288984
..    ...        ...
695  58.0  58.595006
696  93.0  94.625094
697  82.0  88.603770
698  66.0  63.648685
699  97.0  94.975266

[700 rows x 2 columns]

In [6]:
#check whether null values are present in the dataset
train_df.isna().sum()

x    0
y    1
dtype: int64

In [7]:
#As a preprocessing step,delete the rows that contain null values
train_df= train_df.dropna()

In [8]:
train_df

        x          y
0    24.0  21.549452
1    50.0  47.464463
2    15.0  17.218656
3    38.0  36.586398
4    87.0  87.288984
..    ...        ...
695  58.0  58.595006
696  93.0  94.625094
697  82.0  88.603770
698  66.0  63.648685
699  97.0  94.975266

[699 rows x 2 columns]

In [5]:
test_df

      x          y
0    77  79.775152
1    21  23.177279
2    22  25.609262
3    20  17.857388
4    36  41.849864
..   ..        ...
295  71  68.545888
296  46  47.334876
297  55  54.090637
298  62  63.297171
299  47  52.459467

[300 rows x 2 columns]

In [43]:
test_X=test_df['x'].to_numpy()
test_y=test_df['y'].to_numpy()

In [20]:
#estimating regression coefficients of the best fit line
train_X=train_df['x'].to_numpy()
train_y=train_df['y'].to_numpy()

In [ ]:
#w1 = Σ [ (xi – x̄)(yi – ȳ) ] / Σ [ (xi – x̄)2]

In [35]:
w1=sum((train_X-np.mean(train_X))*(train_y-np.mean(train_y)))/sum((train_X-np.mean(train_X))*(train_X-np.mean(train_X)))

In [36]:
w1

1.0006563818563046

In [37]:
w0 = np.mean(train_y) - (w1 * np.mean(train_X))

In [38]:
w0

-0.10726546430100825

In [47]:
#predict the test data 

predicted_y=(w1*test_X)+w0

In [48]:
predicted_y

array([76.94327594, 20.90651855, 21.90717494, 19.90586217, 35.91636428,
       14.90258026, 61.93343021, 94.95509081, 19.90586217,  4.89601644,
        3.89536006, 18.90520579, 95.95574719, 61.93343021, 35.91636428,
       14.90258026, 64.93539936, 13.90192388, 86.94983976, 68.93802488,
       88.95115252, 50.92621001, 88.95115252, 26.91045685, 96.95640358,
       57.93080468, 78.9445887 , 20.90651855, 92.95377805, 26.91045685,
       98.95771634, 30.91308237, 32.91439514, 79.94524508, 27.91111323,
       46.92358448, 52.92752277, 68.93802488, 27.91111323, 32.91439514,
       90.95246528, 70.93933765, 49.92555363, 75.94261956,  3.89536006,
       36.91702066, 69.93868127, 67.9373685 , 39.91898981, 34.9157079 ,
       93.95443443, 87.95049614, 51.92686639, 30.91308237, 58.93146107,
       -0.10726546, 38.91833343, 63.93474297, 68.93802488, 56.9301483 ,
       12.9012675 , 71.93999403, 75.94261956, 60.93277383, 81.94655785,
       17.90454941, 40.91964619, 49.92555363, 54.92883554, 12.9012675 ,
       45.9229281 , 12.9012675 , 78.9445887 , 52.92752277, 14.90258026,
       27.91111323, 80.94590147, 68.93802488, 51.92686639, 83.94787061,
       67.9373685 , 26.91045685, 55.92949192, 47.92424086, 39.91898981,
       38.91833343, 81.94655785, 99.95837272, 58.93146107, 42.92095896,
       66.93671212, 37.91767705, 62.93408659, 90.95246528, 59.93211745,
       13.90192388, 20.90651855, 86.94983976, 72.94065041, 31.91373876,
        1.8940473 , 81.94655785, 18.90520579, 73.94130679, 41.92030257,
       11.90061112,  0.89339092, 89.9518089 , 88.95115252, -0.10726546,
       40.91964619, 15.90323665, 93.95443443, 96.95640358, 65.93605574,
       23.9084877 , 16.90389303, 89.9518089 , 12.9012675 , -0.10726546,
       63.93474297, 95.95574719, 97.95705996, 11.90061112, 40.91964619,
       46.92358448, 77.94393232, 19.90586217, 88.95115252, 28.91176961,
       63.93474297, 74.94196317, 11.90061112, 24.90914408, 27.91111323,
       29.91242599, 64.93539936, 58.93146107, 63.93474297, 52.92752277,
       70.93933765, 96.95640358, 72.94065041,  8.89864197, 11.90061112,
       62.93408659, 98.95771634, 59.93211745, 34.9157079 ,  1.8940473 ,
       59.93211745, 31.91373876, 93.95443443, 83.94787061, 62.93408659,
       21.90717494, 80.94590147, 92.95377805, 32.91439514,  6.89732921,
       41.92030257, 45.9229281 , 53.92817916, 15.90323665, 48.92489725,
       42.92095896, 94.95509081, 65.93605574, 20.90651855, 34.9157079 ,
       79.94524508, 36.91702066, 53.92817916, 55.92949192,  0.89339092,
       31.91373876, 57.93080468, 31.91373876, 45.9229281 , 71.93999403,
       16.90389303, 96.95640358, 92.95377805, 90.95246528, 36.91702066,
        3.89536006, 53.92817916, 50.92621001, 26.91045685, 45.9229281 ,
       91.95312167, 72.94065041, 76.94327594, 90.95246528, 60.93277383,
       98.95771634,  3.89536006, 71.93999403, 18.90520579, 56.9301483 ,
       77.94393232, 25.90980046, 73.94130679, 89.9518089 , 65.93605574,
       12.9012675 , 39.91898981, 76.94327594, 66.93671212, 74.94196317,
       22.90783132, 44.92227172, 58.93146107, 43.92161534, 22.90783132,
       54.92883554, 54.92883554, 94.95509081, 11.90061112,  3.89536006,
        6.89732921, 99.95837272, 47.92424086, 41.92030257, 95.95574719,
       38.91833343, 99.95837272, 86.94983976, 13.90192388, 13.90192388,
       36.91702066,  4.89601644, 87.95049614, 90.95246528, 64.93539936,
       73.94130679, 55.92949192, 15.90323665,  4.89601644, 27.91111323,
       91.95312167, 45.9229281 , 53.92817916, 38.91833343, 43.92161534,
       30.91308237, 67.9373685 , 85.94918338, 89.9518089 , 37.91767705,
       20.90651855, 94.95509081, 55.92949192, 59.93211745, 64.93539936,
       77.94393232, 88.95115252,  5.89667283, 66.93671212, 35.91636428,
       15.90323665, 99.95837272, 44.92227172, 72.94065041, 56.9301483 ,
       19.90586217, 75.94261956, 33.91505152, 54.92883554, 71.93999403,
       54.92883554,  7.89798559, 55.92949192, 71.93999403, 57.93080468,
        5.89667283, 95.95574719, 22.90783132, 57.93080468, 22.90783132,
       18.90520579, 24.90914408, 63.93474297, 20.90651855, 58.93146107,
       18.90520579, 15.90323665, 41.92030257, 42.92095896, 60.93277383,
       91.95312167, 10.89995474, 40.91964619,  0.89339092,  7.89798559,
       70.93933765, 45.9229281 , 54.92883554, 61.93343021, 46.92358448])

In [51]:
#evaluate the performance using RMSE as a metric

MSE = np.square(np.subtract(test_y,predicted_y)).mean() 
 
RMSE = math.sqrt(MSE)

In [52]:
RMSE

3.0713062680298244