In [1]:
import pandas as pd
from scipy.spatial import distance
import numpy

In [3]:
data=pd.read_excel(r'assignment6.xlsx')

In [4]:
data

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.1          3.5           1.4          0.2      setosa
1           4.9          3.0           1.4          0.2      setosa
2           4.7          3.2           1.3          0.2      setosa
3           4.6          3.1           1.5          0.2      setosa
4           5.0          3.6           1.4          0.2      setosa
5           7.0          3.2           4.7          1.4  versicolor
6           6.4          3.2           4.5          1.5  versicolor
7           6.9          3.1           4.9          1.5  versicolor
8           5.5          2.3           4.0          1.3  versicolor
9           6.5          2.8           4.6          1.5  versicolor

In [5]:
data_values = data.iloc[:, 0:4].to_numpy()

In [146]:
data_values

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5]])

In [7]:
label=data.iloc[:,4].to_numpy()

In [8]:
label

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor'],
      dtype=object)

In [9]:
predict_data=numpy.array([8.2,2.6 ,3.2,1.8])

In [10]:
predict_data

array([8.2, 2.6, 3.2, 1.8])

In [11]:
dist=[]
for i in range(0,len(data_values)):
    d=distance.euclidean(data_values[i],predict_data)
    dist.append(d)

In [12]:
dist

[4.0274061131204535,
 4.104875150354758,
 4.33358973600409,
 4.319722213291035,
 4.127953488110058,
 2.051828452868319,
 2.3194827009486394,
 2.218107301281883,
 2.8757607689096805,
 2.2315913604421387]

In [13]:
distance_dataframe=pd.DataFrame(dist,columns=['distance'])

In [14]:
distance_dataframe['species']=label

In [15]:
distance_dataframe

   distance     species
0  4.027406      setosa
1  4.104875      setosa
2  4.333590      setosa
3  4.319722      setosa
4  4.127953      setosa
5  2.051828  versicolor
6  2.319483  versicolor
7  2.218107  versicolor
8  2.875761  versicolor
9  2.231591  versicolor

In [16]:
distance_dataframe=distance_dataframe.sort_values(by=['distance'])

In [17]:
distance_dataframe

   distance     species
5  2.051828  versicolor
7  2.218107  versicolor
9  2.231591  versicolor
6  2.319483  versicolor
8  2.875761  versicolor
0  4.027406      setosa
1  4.104875      setosa
4  4.127953      setosa
3  4.319722      setosa
2  4.333590      setosa

In [18]:
distance_dataframe=distance_dataframe.reset_index(drop=True)

In [19]:
distance_dataframe

   distance     species
0  2.051828  versicolor
1  2.218107  versicolor
2  2.231591  versicolor
3  2.319483  versicolor
4  2.875761  versicolor
5  4.027406      setosa
6  4.104875      setosa
7  4.127953      setosa
8  4.319722      setosa
9  4.333590      setosa

In [161]:
def Knn(k):
    predict_df=distance_dataframe.iloc[0:k,1:].mode()
    
    return(predict_df)

In [162]:
Knn(3)

      species
0  versicolor

In [163]:
Knn(5)

      species
0  versicolor

In [164]:
Knn(7)

      species
0  versicolor